{% extends 'Base.html' %}
{% block style %}
<style>
    body{
        background-color:  rgb(255, 202, 202);
        color: black;
    }
</style>
{% endblock style %}
{% block respective %}
{% if note %}
<div style='padding: 10px; background-color: tomato; color: white;'>{{ note }}</div>
{% endif %}
<form method="POST" style="margin-top: 10%;">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" autofocus>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{% endblock respective %}